* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --clr-primary-1: #02547d;
    --clr-primary-2: #0284a8;
    --clr-primary-3: #02bec4;
    --clr-primary-4: #a9e8dc;
    --clr-primary-5: #e1f7e7;
    --clr-white: #ffffff;
    --clr-black: #000000;
}

body,
button,
input,
select,
textarea {
    font-family: "Inter", sans-serif;
}

/* PÃGINA INICIAL */

/* HEADER */

header {
  top: 0;
  z-index: 9;
  background-color: var(--clr-primary-1);
}

header #cifetech-logo {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-primary-1);
}

header #cifetech-logo img {
  width: 100%;
}

header .main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem;
}

header .nav-bar .nav-list {
  display: none;
}

header .nav-bar .nav-button {
  border: none;
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
  cursor: pointer;
  font-size: 20px;
}

header .nav-bar .nav-button:hover {
  color: var(--clr-primary-4);
  transition: color 0.3s;
}

header .nav-bar .nav-list-vertical {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--clr-primary-1);
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: all 0.5s;
}

header .nav-bar .nav-list-vertical .nav-list-menu {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
  padding: 1rem;
}

header .nav-bar .nav-list-vertical .nav-list-menu #nav-list-lines {
  background-color: var(--clr-white);
  width: 90%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
}

header .nav-bar .nav-list-vertical .nav-list-menu .nav-list-item {
  color: var(--clr-white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition: 0.3s;
}

header .nav-bar .nav-list-vertical .nav-list-menu .nav-list-item:hover,
header .nav-bar .nav-list-vertical .nav-list-menu .nav-list-item:focus {
  color: var(--clr-primary-3);
}

header .nav-bar .closeNav {
  color: var(--clr-white);
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  header .nav-bar .nav-list-vertical a {
    font-size: 20px;
  }
  header .nav-bar .closeNav {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

header .search .search-box {
  background: var(--clr-white);
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .search .search-box .search-text {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--clr-primary-1);
  font-size: 20px;
  line-height: 40px;
  width: 0;
  transition: 0.5s;
}

header .search .search-box .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

header .search .search-box:hover > .search-text {
  width: 200px;
  padding: 0 6px;
}

header .search .search-box:hover > .search-btn {
  background-color: var(--clr-white);
}

header .search .search-box:valid > .search-text {
  width: 200px;
  padding: 0 6px;
}

header .search .search-box:valid > .search-btn {
  background-color: var(--clr-white);
}

/* MAIN */

main {
  background-image: url("../IMG/main-background-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 1rem;
}

main .card {
  display: block;
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 15px;
  overflow: hidden;
}

main .card1-data1,
main .card2-data1,
main .card3-data1,
main .card4-data1,
main .card5-data1,
main .card6-data1 {
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem;
  gap: 1rem;
}

main .img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
}

main .img-container img {
  background-position: center;
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

main .info {
  margin-right: auto;
}

main .info h4{
  text-align: center;
  font-size: 20px;
  padding-bottom: 0.5rem;
}

main .rating {
  text-align: center;
}

main .checked {
  color: gold;
}

main .card1-data2,
main .card2-data2,
main .card3-data2,
main .card4-data2,
main .card5-data2,
main .card6-data2 {
  display: block;
  height: 0px;
  overflow: hidden;
}

main .card1-data2 p,
main .card2-data2 p,
main .card3-data2 p,
main .card4-data2 p,
main .card5-data2 p,
main .card6-data2 p {
  text-align: left;
  padding: 0 1rem 0.5rem;
  font-size: 16px;
}

main .card1-data2 .adress,
main .card2-data2 .adress,
main .card3-data2 .adress,
main .card4-data2 .adress,
main .card5-data2 .adress,
main .card6-data2 .adress{
  padding-top: 1rem;
}

main .card1-data2 .description,
main .card2-data2 .description,
main .card3-data2 .description,
main .card4-data2 .description,
main .card5-data2 .description,
main .card6-data2 .description {
  text-align: center;
}

main .card1-data2 .contact-button,
main .card2-data2 .contact-button,
main .card3-data2 .contact-button,
main .card4-data2 .contact-button,
main .card5-data2 .contact-button,
main .card6-data2 .contact-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 1rem;
}

main .card1-data2 .contact-button button,
main .card2-data2 .contact-button button,
main .card3-data2 .contact-button button,
main .card4-data2 .contact-button button,
main .card5-data2 .contact-button button,
main .card6-data2 .contact-button button{
  background-color: var(--clr-white);
  color: var(--clr-primary-1);
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
}

main .card1-data2 .contact-button button:hover,
main .card2-data2 .contact-button button:hover,
main .card3-data2 .contact-button button:hover,
main .card4-data2 .contact-button button:hover,
main .card5-data2 .contact-button button:hover,
main .card6-data2 .contact-button button:hover {
  background-color: var(--clr-primary-5);
  transition: background-color 0.3s;  
}

main .card1-data3,
main .card2-data3,
main .card3-data3,
main .card4-data3,
main .card5-data3,
main .card6-data3 {
  display: block flex;
  justify-content: center;
  padding: 0 1rem;
  z-index: 1;
}

main .card1-data3 #up1,
main .card2-data3 #up2,
main .card3-data3 #up3,
main .card4-data3 #up4,
main .card5-data3 #up5,
main .card6-data3 #up6 {
  display: none;
  font-size: 40px;
}

main .card1-data3 #down1,
main .card2-data3 #down2,
main .card3-data3 #down3,
main .card4-data3 #down4,
main .card5-data3 #down5,
main .card6-data3 #down6 {
  display: block;
  font-size: 40px;
}

main .card1-data3 #up1:hover,
main .card2-data3 #up2:hover,
main .card3-data3 #up3:hover,
main .card4-data3 #up4:hover,
main .card5-data3 #up5:hover,
main .card6-data3 #up6:hover,
main .card1-data3 #down1:hover,
main .card2-data3 #down2:hover,
main .card3-data3 #down3:hover,
main .card4-data3 #down4:hover,
main .card5-data3 #down5:hover,
main .card6-data3 #down6:hover {
  color: var(--clr-primary-5);
  transition: color 0.3s; 
}

.card1-data2.show,
.card2-data2.show,
.card3-data2.show,
.card4-data2.show,
.card5-data2.show,
.card6-data2.show {
  height: auto;
}

main .check {
  display: none;
}

main #check1:checked ~ .card #down1,
main #check2:checked ~ .card #down2,
main #check3:checked ~ .card #down3,
main #check4:checked ~ .card #down4,
main #check5:checked ~ .card #down5,
main #check6:checked ~ .card #down6 {
  display: none;
}

main #check1:checked ~ .card #up1,
main #check2:checked ~ .card #up2,
main #check3:checked ~ .card #up3,
main #check4:checked ~ .card #up4,
main #check5:checked ~ .card #up5,
main #check6:checked ~ .card #up6 {
  display: block;
}

/* FOOTER */

footer {
    background-color: var(--clr-primary-1);
    padding: 1rem;
}
  
footer .rodape {
    color: var(--clr-white);
}
  
footer .rodape .sobre,
footer .rodape .fale,
footer .rodape .politica {
    font-size: 20px;
    padding-bottom: 1rem;
}
  
footer .rodape .sobre h3,
footer .rodape .fale h3,
footer .rodape .politica h3,
footer .rodape .pagamento div {
    padding-bottom: 0.75rem;
}
  
footer .rodape .pagamento div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
footer .rodape .pagamento h3 {
    font-size: 20px;
    padding-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
  
footer .rodape .pagamento img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 320px;
}

/* RESPONSIVIDADE */

@media only screen and (min-width: 768px) {
    /* HEADER */
  
    header #cifetech-logo {
      display: flex;
      justify-content: center;
    }
  
    header #cifetech-logo img {
      width: 50%;
    }
  
    header .main-bar {
      padding: 0 2rem 1rem;
    }
  
    header .search .search-box:hover > .search-text {
      width: 240px;
      padding: 0 6px;
    }
  
    header .search .search-box:valid > .search-text {
      width: 240px;
      padding: 0 6px;
    }
  
    /* MAIN */
  
    main .card {
      margin: 2rem;

    }

    /* FOOTER */
  
    footer {
      padding: 2rem;
    }
  
    footer .rodape .sobre,
    footer .rodape .fale,
    footer .rodape .politica {
      padding-bottom: 2rem;
    }
  
    footer .rodape .sobre h3,
    footer .rodape .fale h3,
    footer .rodape .politica h3,
    footer .rodape .pagamento div {
      padding-bottom: 1.5rem;
    }
  
    footer .rodape .pagamento h3 {
      padding-bottom: 1.5rem;
    }
  
    footer .rodape .pagamento img {
      max-width: 640px;
    }
}
  
  @media only screen and (min-width: 1024px) {
    /* HEADER */
  
    header #cifetech-logo img {
      width: 20%;
    }
  
    header .main-bar {
      padding: 0 4rem 1rem;
    }
  
    header .main-bar .nav-bar .nav-list {
      display: block flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
    }
  
    header .main-bar .nav-bar .nav-list .nav-item .divider {
      background-color: var(--clr-white);
      width: 2px;
      height: 40px;
    }
  
    header .main-bar .nav-bar .nav-list .nav-item a {
      color: var(--clr-white);
      text-decoration: none;
      font-size: 20px;
    }
  
    header .main-bar .nav-bar .nav-list .nav-item a:hover {
      color: var(--clr-primary-4);
      transition: olor 0.3s;
    }
  
    header .main-bar .nav-bar .nav-button,
    header .main-bar .nav-bar .nav-list-vertical {
      display: none;
    }
  
    header .search {
      margin: 0 0 0.25rem;
    }
  
    header .search .search-box {
      justify-content: none;
    }
  
    /* MAIN */

    main .main-1,
    main .main-2,
    main .main-3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    main .card {
      margin: 4rem;
    }
    
    main .img-container {
      width: 150px;
      height: 150px;
    }
    
    main .img-container img {
      background-position: center;
      width: 150px;
      height: 150px;
    }
    
    main .card1-data2,
    main .card2-data2,
    main .card3-data2,
    main .card4-data2,
    main .card5-data2,
    main .card6-data2 {
      height: auto;
    }
    
    main .card1-data2 .description,
    main .card2-data2 .description,
    main .card3-data2 .description,
    main .card4-data2 .description,
    main .card5-data2 .description,
    main .card6-data2 .description {
      text-align: center;
    }

    main .card1-data3,
    main .card2-data3,
    main .card3-data3,
    main .card4-data3,
    main .card5-data3,
    main .card6-data3 {
      display: none;
    }
  
    /* FOOTER */
  
    footer .rodape {
      display: flex;
      justify-content: space-between;
      align-items: top;
      gap: 2rem;
      padding: 2rem 4rem;
    }
}